@import 'variables';
@import 'config';

body {
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 25px;
    width: 400px;
    margin-top: 100px;
}

img {
    border-radius: 25px;
    margin-top: 15px;
    width: 375px;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    display: flex;
    align-self: center;
}

.sent1 {
    flex-wrap: wrap;
    align-self: center;
    font-weight: 700;
    color: $dark-blue;
}

p {
    display: flex;
    align-self: center;
    font-size: 15px;
    padding-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
}

.sent2 {
    flex-wrap: wrap;
    font-weight: 400;
    color: $gray-blue;
}
